table {
  width: 100%;
}

td,
th {
  border: 1px solid rgba(0, 0, 0, .2);
  padding: 5px 5px;
  position: relative;
}

:host ::ng-deep textarea {
  background-color: transparent;
  display: block;
  height: 100%;
  resize: none;
  width: 100%;
}
