table {
  width: 100%;
}

td,
th {
  border: 1px solid rgba(0, 0, 0, .2);
  position: relative;
}

textarea {
  background-color: transparent;
  display: block;
  height: 100%;
  padding: 5px 5px;
  resize: none;
  width: 100%;
}
