<table>
  <thead>
    <tr>
      <th>
        <button (click)="fieldCreate()">Add field</button>
        <br />
        <button (click)="recordCreate()">Create Record</button>
      </th>
      <th *ngFor="let field of (fields$ | async); let index = index">
        <span>{{ field.id }}</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of (records$ | async); let index = index">
      <td>{{ index + 1 }}</td>
      <td *ngFor="let field of (fields$ | async);">
        <input type="text"
          (change)="recordUpdate(record.id, field.id, $event)"
          [value]="record.data[field.id] || ''"
        />
      </td>
    </tr>
  </tbody>
</table>
